#nav-trigger { 
	position: absolute;
	left: calc(100% + 20px); top: 20px;
    padding: 5px;
	height: 40px;
	width: 40px;
	background-color: white;
	cursor: pointer;
    border: 0;
    
    &:hover {
        animation: .3s nav-bounce;
        }
	}

@keyframes nav-bounce {
    50% {
        height: 50px;
        margin-top: -5px;
        }
    100% {
        height: 40px;
        margin-top: 0;
        }
    }

#nav-trigger i {
    position: absolute;
    left: 5px; right: 5px;
    height: 5px;
    background-color: #000;
    transform-origin: 50% 50%;
    transition: .3s;
    }
#nav-trigger i:first-child {
    top: 5px;
    transition-delay: .1s;
    }
#nav-trigger i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transition-delay: .2s;
    }
#nav-trigger i:last-child {
    bottom: 5px;
    transition-delay: .1s;
    }

.nav-open #nav-trigger i:first-child {
    animation: .5s nav-trigger-1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    }
.nav-open #nav-trigger i:nth-child(2) {
    animation: .5s nav-trigger-2;
    animation-direction: normal;
    animation-fill-mode: forwards;
    }
.nav-open #nav-trigger i:last-child {
    animation: .5s nav-trigger-3;
    animation-direction: normal;
    animation-fill-mode: forwards;
    }

@keyframes nav-trigger-1 {
    50% {
        top: 50%;
        transform: translateY(-50%);        
        }
    100% {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);        
        }
    }
@keyframes nav-trigger-2 {
    50% {
        opacity: 0;
        }
    100% {
        opacity: 0;
        }
    }
@keyframes nav-trigger-3 {
    50% {
        bottom: 50%;
        transform: translateY(50%);        
        }
    100% {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);        
        }
    }